<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 4 - Group ICS</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body>


    <div class="container mx-auto my-12 max-w-screen-sm grid gap-y-12">

        <!-- header -->
        <div class="grid gap-y-2">
            <h1 class="text-blue-600 text-4xl">Project 4</h1>
            <h1 class="text-gray-600 text-2xl">Project 4 Description</h1>
        </div>
        
        <!-- camera feed -->
        <div class="bg-gray-200 rounded-2xl h-96 w-full">
            <div class="grid place-content-center h-full w-full">
                <h1 class="text-gray-600">camera feed</h1>
            </div>
        </div>

        <!-- metadata -->
        <div class="grid gap-y-2">
            <h1 class="text-gray-600 text-2xl mb-2">Metadata</h1>
            <h1 class="text-gray-600 text-lg">Statistic 1:</h1>
            <h1 class="text-gray-600 text-lg">Statistic 2:</h1>
            <h1 class="text-gray-600 text-lg">Statistic 3:</h1>
            <h1 class="text-gray-600 text-lg">Statistic 4:</h1>
        </div>
        
    </div>
    
</body>
</html>