<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 4 - Group ICS</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
  </head>
  <body>
    <div class="container mx-auto my-24 max-w-screen-sm grid gap-y-6">
      <!-- header -->
      <div class="grid gap-y-4">
        <h1 class="text-blue-600 font-bold text-4xl">Audio Classification</h1>
        <h1 class="text-lg">
          In this project, we take your audio feed and classify the sounds.
        </h1>
        <h1 class="text-lg">Try speaking or snapping!</h1>
      </div>

      <!--Microphone Disconnected-->
      <div
        class="flex flex-row gap-x-2 items-center"
        id="microphone-disconnected"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 9.75 19.5 12m0 0 2.25 2.25M19.5 12l2.25-2.25M19.5 12l-2.25 2.25m-10.5-6 4.72-4.72a.75.75 0 0 1 1.28.53v15.88a.75.75 0 0 1-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.009 9.009 0 0 1 2.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75Z"
          />
        </svg>

        <h1 class="text-lg">Microphone Loading...</h1>
      </div>

      <!--Microphone Connected-->
      <div
        class="flex flex-row gap-x-2 items-center hidden"
        id="microphone-connected"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 18.75a6 6 0 0 0 6-6v-1.5m-6 7.5a6 6 0 0 1-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 0 1-3-3V4.5a3 3 0 1 1 6 0v8.25a3 3 0 0 1-3 3Z"
          />
        </svg>

        <h1 class="text-lg text-green-600">Microphone Connected</h1>
      </div>

      <!-- metadata -->
      <div class="grid gap-y-0">
        <iframe
          src="http://localhost:1000"
          allow="camera *;microphone *"
          width="600"
        ></iframe>
      </div>

      <h1 class="text-gray-600 text-2xl mb-1">ML Client Response</h1>

      <!-- sound 1 -->
      <div class="flex flex-row gap-x-2">
        <div
          class="bg-blue-600 rounded-3xl h-40 w-1/2 grid place-content-center"
        >
          <div class="flex flex-col gap-y-3 items-center">
            <h1 class="font-medium text-2xl text-white opacity-75">sound</h1>
            <h1 class="font-bold text-4xl text-white" id="sound1">''</h1>
          </div>
        </div>
        <div
          class="bg-blue-600 rounded-3xl h-40 w-1/2 grid place-content-center"
        >
          <div class="flex flex-col gap-y-3 items-center">
            <h1 class="font-medium text-2xl text-white opacity-75">
              confidence
            </h1>
            <h1 class="font-bold text-4xl text-white" id="confidence1">0.0</h1>
          </div>
        </div>
      </div>

      <!-- sound 2 -->
      <div class="flex flex-row gap-x-2">
        <div
          class="bg-blue-600 rounded-3xl h-40 w-1/2 grid place-content-center"
        >
          <div class="flex flex-col gap-y-3 items-center">
            <h1 class="font-medium text-2xl text-white opacity-75">sound</h1>
            <h1 class="font-bold text-4xl text-white" id="sound2">''</h1>
          </div>
        </div>
        <div
          class="bg-blue-600 rounded-3xl h-40 w-1/2 grid place-content-center"
        >
          <div class="flex flex-col gap-y-3 items-center">
            <h1 class="font-medium text-2xl text-white opacity-75">
              confidence
            </h1>
            <h1 class="font-bold text-4xl text-white" id="confidence2">0.0</h1>
          </div>
        </div>
      </div>

      <!-- sound 3 -->
      <div class="flex flex-row gap-x-2">
        <div
          class="bg-blue-600 rounded-3xl h-40 w-1/2 grid place-content-center"
        >
          <div class="flex flex-col gap-y-3 items-center">
            <h1 class="font-medium text-2xl text-white opacity-75">sound</h1>
            <h1 class="font-bold text-4xl text-white" id="sound3">''</h1>
          </div>
        </div>
        <div
          class="bg-blue-600 rounded-3xl h-40 w-1/2 grid place-content-center"
        >
          <div class="flex flex-col gap-y-3 items-center">
            <h1 class="font-medium text-2xl text-white opacity-75">
              confidence
            </h1>
            <h1 class="font-bold text-4xl text-white" id="confidence3">0.0</h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  const resetStatus = async () => {
    fetch("/reset_status", {
      method: "POST",
    })
      .then((response) => {
        if (response.ok) {
          return response.json();
        }
      })
      .catch((error) => {
        alert("Error: " + error.message);
      });
  };

  // update status
  const updateStatus = async () => {
    fetch("/status", {
      method: "GET",
    })
      .then((response) => {
        if (response.ok) {
          return response.json();
        }
      })
      .then((response) => {
        // update metadata
        if (response["sound1"] != "") {
          sound1 = response["sound1"];

          const gestureElement = document.getElementById("sound1");
          gestureElement.textContent = sound1;

          const confidenceElement = document.getElementById("confidence1");
          confidenceElement.textContent =
            (response["confidence1"] * 100).toFixed(2) + "%";
        }
        // same for sound2
        if (response["sound2"] != "") {
          sound2 = response["sound2"];

          const gestureElement = document.getElementById("sound2");
          gestureElement.textContent = sound2;

          const confidenceElement = document.getElementById("confidence2");
          confidenceElement.textContent =
            (response["confidence2"] * 100).toFixed(2) + "%";
        }
        // same for sound3
        if (response["sound3"] != "") {
          sound3 = response["sound3"];

          const gestureElement = document.getElementById("sound3");
          gestureElement.textContent = sound3;

          const confidenceElement = document.getElementById("confidence3");
          confidenceElement.textContent =
            (response["confidence3"] * 100).toFixed(2) + "%";
        }

        if (response["microphoneConnected"] == true) {
          const cameraDisconnectedDiv = document.getElementById(
            "microphone-disconnected"
          );
          const cameraConnectedDiv = document.getElementById(
            "microphone-connected"
          );
          cameraDisconnectedDiv.classList.add("hidden");
          cameraConnectedDiv.classList.remove("hidden");
        }
      });
  };

  // run on page load
  document.addEventListener("DOMContentLoaded", async function () {
    await resetStatus();
    await updateStatus();

    setInterval(updateStatus, 250);
  });
</script>
